---
layout: default
title: Statistiche
pagination: 
  enabled: false
---

{% assign countries = site.data.directors | group_by: "country" %}

<div class="grid max-w-screen-md gap-8 mx-auto sm:grid-cols-3 text-white">
  <div class="flex flex-col items-center justify-center">
      <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{site.posts.size}}</dt>
      <dd class="font-light text-gray-400 uppercase">Film</dd>
  </div>
  <div class="flex flex-col items-center justify-center">
      <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{site.data.directors.size}}</dt>
      <dd class="font-light text-gray-400 uppercase">Registi</dd>
  </div>
  <div class="flex flex-col items-center justify-center">
      <dt class="mb-2 text-3xl md:text-4xl font-extrabold">{{countries.size}}</dt>
      <dd class="font-light text-gray-400 uppercase">Paesi</dd>
  </div>
</div>


<div class="inline-flex items-center justify-center w-full">
  <hr class="w-full h-px mx-4 lg:mx-32 my-2 lg:my-8 bg-gray-200 border-0">
  <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-[#14171C] left-1/2 text-white">Film per anno</span>
</div>

<div class="w-full px-4 lg:px-32">
    <div id="column-chart" class="lg:px-6"></div>
</div>

<div class="inline-flex items-center justify-center w-full mt-8 lg:mt-16">
  <hr class="w-full h-px mx-4 lg:mx-32 my-2 lg:my-8 bg-gray-200 border-0">
  <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-[#14171C] left-1/2 text-white">Liste</span>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:mx-24">
  <div class="lg:py-2" id="radial-chart-imdb"></div>
  <div class="lg:py-2" id="radial-chart-afi"></div>
  <div class="lg:py-2" id="radial-chart-sas-100"></div>
  <div class="lg:py-2" id="radial-chart-afi-all-time"></div>
  <div class="lg:py-2" id="radial-chart-oscar-bm"></div>
  <div class="lg:py-2" id="radial-chart-sas-250"></div>
  <div class="lg:py-2" id="radial-chart-oscar-foreign"></div>
  <div class="lg:py-2" id="radial-chart-cannes"></div>
</div>
<div class="inline-flex items-center justify-center w-full mt-2 lg:mt-2">
  <hr class="w-full h-px mx-4 lg:mx-32 my-2 lg:my-8 bg-gray-200 border-0">
  <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-[#14171C] left-1/2 text-white">Nazionalità dei registi</span>
</div>
<div class="grid grid-cols-1 mx-4 lg:mx-32 mb-16 overflow-hidden" id="regions_div"></div>
</div>


{% assign imdb = 0 %}
{% assign oscar_bm = 0 %}
{% assign oscar_bm_tot = site.data.oscar_best_movies.size %}
{% assign oscar_foreign = 0 %}
{% assign oscar_foreign_tot = site.data.oscar_foreign.size %}
{% assign cannes = 0 %}
{% assign sas_250 = 0 %}
{% assign sas_250_tot = site.data.sas250.size %}
{% assign sas_100 = 0 %}
{% assign sas_100_tot = site.data.sas100.size %}
{% assign afi = 0 %}
{% assign afi_tot = site.data.afi_all_time.size %}
{% assign afi_at = 0 %}
{% assign afi_at_tot = site.data.afi_all_time.size %}
{% for post in site.posts %}
    {% assign v = site.data.imdb250 | where: 'id', post.imdb_id %}
    {% if v.size > 0  %}
    {% assign imdb = imdb | plus: 1 %}
    {% endif %}
    {% assign v = site.data.oscar_best_movies | where: 'id', post.imdb_id %}
    {% if v.size > 0  %}
    {% assign oscar_bm = oscar_bm | plus: 1 %}
    {% endif %}
    {% assign v = site.data.oscar_foreign | where: 'id', post.imdb_id %}
    {% if v.size > 0  %}
    {% assign oscar_foreign = oscar_foreign | plus: 1 %}
    {% endif %}
    {% assign v = site.data.sas250 | where: 'id', post.imdb_id %}
    {% if v.size > 0  %}
    {% assign sas_250 = sas_250 | plus: 1 %}
    {% endif %}
    {% assign v = site.data.sas100 | where: 'id', post.imdb_id %}
    {% if v.size > 0  %}
    {% assign sas_100 = sas_100 | plus: 1 %}
    {% endif %}
    {% assign v = site.data.afi | where: 'id', post.imdb_id %}
    {% if v.size > 0  %}
    {% assign afi = afi | plus: 1 %}
    {% endif %}
    {% assign v = site.data.afi_all_time | where: 'id', post.imdb_id %}
    {% if v.size > 0  %}
    {% assign afi_at = afi_at | plus: 1 %}
    {% endif %}
    {% if post.cannes %}
    {% assign cannes = cannes | plus: 1 %}
   {% endif %}
{% endfor %}
<script>
  let imdb = "{{imdb}}"
  let afi = "{{afi}}"
  let afi_at = "{{afi_at}}"
  let afi_at_tot = "{{afi_at_tot}}"
  let oscar_bm = "{{oscar_bm}}"
  let oscar_bm_tot = "{{oscar_bm_tot}}"
  let oscar_foreign = "{{oscar_foreign}}"
  let oscar_foreign_tot = "{{oscar_foreign_tot}}"
  let cannes = "{{cannes}}"
  let sas_250 = "{{sas_250}}"
  let sas_250_tot = "{{sas_250_tot}}"
  let sas_100 = "{{sas_100}}"
  let sas_100_tot = "{{sas_100_tot}}"
  window.addEventListener("load", function() {
    const getChartOptions = (label, val, max) => {
      let offsetY = label.length == 1 ? -10 : -25
        return {
          series:[parseFloat((100* (val / max)).toFixed(1))],
          colors: ['#FCD34D'],
          chart: {
          height: 300,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            hollow: {
              size: '70%',
            },
            dataLabels:{
              name: {
                offsetY: offsetY
              },
              value: {
                offsetY: 25,
                show: true,
                fontSize: '24px',
                color: 'white',
              }
            },
          },
        },
        labels: [label]
      }
    }
      
      if (document.getElementById("radial-chart-imdb") && typeof ApexCharts !== 'undefined') {
        var chart = new ApexCharts(document.querySelector("#radial-chart-imdb"), getChartOptions(['IMDb Top 250', '(2023)'], imdb, 250));
        chart.render();
        chart = new ApexCharts(document.querySelector("#radial-chart-oscar-bm"), getChartOptions(['Premio Oscar', 'Miglior film'], oscar_bm, oscar_bm_tot));
        chart.render();
        chart = new ApexCharts(document.querySelector("#radial-chart-cannes"), getChartOptions(["Palma d'oro", "Cannes"], cannes, 96));
        chart = new ApexCharts(document.querySelector("#radial-chart-oscar-foreign"), getChartOptions(['Premio Oscar', 'Film internazionale'], oscar_foreign, oscar_foreign_tot));
        chart.render();
        chart = new ApexCharts(document.querySelector("#radial-chart-cannes"), getChartOptions(["Palma d'oro", "Cannes"], cannes, 96));
        chart.render();
        chart = new ApexCharts(document.querySelector("#radial-chart-sas-250"), getChartOptions(["Sight & Sound", "Critics' Top 250"], sas_250, sas_250_tot));
        chart.render();
        chart = new ApexCharts(document.querySelector("#radial-chart-sas-100"), getChartOptions(["Sight & Sound", "Directors' Top 100"], sas_100, sas_100_tot));
        chart.render();
        chart = new ApexCharts(document.querySelector("#radial-chart-afi"), getChartOptions(["AFI Top 100"], afi, 100));
        chart.render();
        chart = new ApexCharts(document.querySelector("#radial-chart-afi-all-time"), getChartOptions(["AFI Top 100", "(All-time)"], afi_at, afi_at_tot));
        chart.render();
      }
  });
</script>

  <script>
    let data = eval(`
      [
        {% assign v = site.posts  | group_by:"year" %}
        {% for p in v %}
          {
          "x": {{p.name}},
          "y": {{p.size}}
          }{% unless forloop.last %},{% endunless %}
        {%endfor%}
      ]
    `)
    // ApexCharts options and config
    window.addEventListener("load", function() {

      const options = {
            series: [
              {
                name: "Film",
                color: "#FCD34D",
                data: data
              },
            ],
            chart: {
              type: "bar",
              height: "320px",
              fontFamily: "Inter, sans-serif",
              toolbar: {
                show: false,
              },
            },
            plotOptions: {
              bar: {
                horizontal: false,
                columnWidth: "70%",
                borderRadiusApplication: "end",
                borderRadius: 8,
              },
            },
            tooltip: {
              shared: true,
              intersect: false,
              style: {
                fontFamily: "Inter, sans-serif",
              },
            },
            states: {
              hover: {
                filter: {
                  type: "darken",
                  value: 1,
                },
              },
            },
            stroke: {
              show: true,
              width: 0,
              colors: ["transparent"],
            },
            grid: {
              show: false,
              strokeDashArray: 4,
              padding: {
                left: 20,
                right: 20,
                top: -14
              },
            },
            dataLabels: {
              enabled: false,
            },
            legend: {
              show: false,
            },
            xaxis: {
              tickAmount: 9,
              floating: false,
              labels: {
                show: true,
                style: {
                  fontFamily: "Inter, sans-serif",
                  cssClass: 'text-xs font-normal fill-gray-400'
                }
              },
              axisBorder: {
                show: false,
              },
              axisTicks: {
                show: false,
              },
            },
            yaxis: {
              show: false,
            },
            fill: {
              opacity: 1,
            },
          }
  
          if(document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
            const chart = new ApexCharts(document.getElementById("column-chart"), options);
            chart.render();
          }
    });
  </script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });

      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        let locale_countries = eval(`{{site.data.locale_countries | jsonify}}`)
        let countries = eval(`{{countries | jsonify}}`)
        countries = countries.map(function(elem) {
          let country = elem.name
          let locale = locale_countries.find(elem => elem.en == country) 
          if (locale){
            return [{v: country, f: locale.it},{v: Math.log(elem.items.length), f: elem.items.length}]
          }
          return [elem.name, {v: Math.log(elem.items.length), f: elem.items.length}]
        })
        
        let regions = [['Paese', 'Registi']]
        for (index = 0; index < countries.length; index++) {
            regions.push(countries[index]);
      }
        var data = google.visualization.arrayToDataTable(regions);

        var options = {
          backgroundColor: '#14171C',
          colorAxis: {colors: ['#fef3c7', '#fde68a', '#FCD34D', '#fbbf24', '#f59e0b']},
          legend:'none',
          //region: '150'
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
