---
layout: default
---
<div class="my-4 lg:my-12 mx-4 lg:mx-auto max-w-screen-lg prose !prose-invert prose-xl sm:prose-2xl prose-slate prose-a:text-white hover:prose-a:text-amber-300 prose-a:no-underline">
    {% assign director = site.directors | where: 'name', page.director | first %}
    {% if director %}
    <a class="no-underline " href="{{director.url}}">
        <h4 class="text-center text-white hover:text-amber-300">{{director.name}}</h4>
    </a>
    {% else %}
    <h4 class="text-center">{{page.director}}</h4>
    {% endif %}
    <h1 class="text-center">{{page.title}} · {{page.year}}</h1>
    <div class="flex flex-row">
        <img class="grow" src="{{page.cover}}">
    </div>
    {{content}}
</div>